* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

main {
  width: 375px;
  height: 780px;
  background-color: #17171c;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

#visor {
  font-family: 'Roboto Flex', sans-serif;
  text-align: right;
}

#teclas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* padding-left: 14px; */
  /* border: 1px solid red; */
}

#teclas button {
  /* width: 72px; */
  height: 72px;
  /* height: 2.5em; */
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;

  /* border: 1px solid red; */
}

#teclas button {
  background-color: #535353;
  color: white;
}

#teclas .numero {
  background-color: #898989;
}

#teclas #btn-igual {
  background-color: #0085cb;
}

#teclas button:hover {
  background-color: #383838;
}



#linha-superior {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  opacity: 0.4;

  /* border: 1px solid red; */
}

#linha-inferior {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: #ffffff;

  /* border: 1px solid red; */
}
