* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  /* Bloquear Seleção */
  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge e Opera 15+ */
  -moz-user-select: none; /* Raposa de fogo */
  -ms-user-select: none; /* IE 10+ e Edge */
  user-select: none; /* Versão sem prefixo,
                                atualmente suportado pelo Chrome e Opera */
}

main {
  width: 375px;
  background-color: #17171c;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

#visor {
  font-family: 'Roboto Flex', sans-serif;
  text-align: right;
}

#teclas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#teclas button {
  height: 72px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

#teclas button {
  background-color: #535353;
  color: white;
}

#teclas .numero {
  background-color: #898989;
}

#teclas #btn-apaga {
  font-size: 24px;
}

#teclas #btn-igual {
  background-color: #0085cb;
}

#teclas button:hover,
#teclas #btn-igual:hover {
  background-color: #383838;
}

#linha-superior {
  height: 47px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
  opacity: 0.4;
}

#linha-inferior {
  height: 100px;
  margin-bottom: 50px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: #ffffff;
}
